// .container {
//   display: flex;
//   flex-direction: row;

// }

// .anime-search {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

.item-search {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}