.news {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3rem;
  }

  &__items {
    padding-bottom: 3rem;
    text-align: center;
    flex-direction: row;
  }
}

.news-container {
  text-align: center;

}