.search {
  @extend %background-center;
  background-image: url('../../Images/hero-search.jpg');

  &__container {
    text-transform: capitalize;
    color: $color-white;
  }

  &__input {
    color: $color-white;
    background: none;
    width: 70%;
    border: 2px solid rgba($color: #FFFFFF, $alpha: .1);

    &:focus {
      border: 2px solid rgba($color: #FFFFFF, $alpha: .5);
    }
  }

  &__subtitle {
    color: inherit;
  }

  &__title {
    color: inherit;
  }
}