.card {
  padding: 0 !important;
}

.show-list {

  &__title {
    color: $color-primary;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: lighten($color-primary, 15%);
    }
  }

  &__star {
    font-size: 1.5rem;
    color: grey;
    transition: all .125s ease-in;

    &:hover {
      cursor: pointer;
      color: lighten(rgb(255, 166, 0), 20%);
      font-size: 2rem;
    }

    &--active {
      cursor: pointer;
      color: rgb(255, 166, 0);
      font-size: 2rem;
    }
  }
}